<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Gestión Cursos TDEA</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inició <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

      {{#if user}}
      <li class="nav-item">
          <a class="navbar-brand" href="users/chat">
    <img src="/img/ico/chat-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Chat
  </a>
        </li>

       <li class="nav-item active">
        <a class="nav-link" href="/">Conectado como : {{ user.nombre }} - Perfil : <span
            class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item dropdown">
        
      {{#ifeq user.tipo "Coordinador"}}

     
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Coordinador

        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/listar
              ">Todos los usuarios
          </a>
          <a class="dropdown-item" href="/ver-cursos
              ">Todos los cursos
          </a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="/new-curso">Crear curso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/cursos/inscripciones">Inscripciones</a>

        </div>
    
      {{/ifeq}}
      {{#ifeq user.tipo "Docente"}}
     
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Docente

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/cursos/asignados/{{ user._id }}">Mis cursos</a>

        </div>
      
      {{/ifeq}}


      {{#ifeq user.tipo "Aspirante"}}
     
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Aspirante

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="/inscribir/aspirante">Inscribir cursos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/inscripcion/misCursos/{{ user._id }}">Mis cursos</a>

        </div>
      
      {{/ifeq}}
      </li>

      
      <span class="navbar-brand  "></span>


      <li class="nav-item">

        <a class="nav-link" href="/users/logout"> Salir</a>

      </li>

      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/users/signin">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/signup">Registro</a>
      </li>
      {{/if}}
      </ul>
    </div>
  </div>
</nav>