<div class="container">

    <h2>Asignación de curso a docente </h2>
        <hr />
<section class="card">
         <div class="row">
             
        <div class="col-md-12 mx-auto">
            <form action="/curso/actualizarEstado/{{ miCurso }}?_method=PUT "
             method="post">
                <div class="form-group row">
                     <div class="col-sm-6">
                        <h4>Selecione el docente al cual se le asignara el curso :</h4>
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" name="_method" value="PUT">
                        
                        <select class="form-control" id="idUser" name="idUser">
                            {{#each docente}}
                                <option value="{{_id }}"> {{nombre}} : CC: {{ documento }} </option>
                            {{/each}}
                        </select>
                    </div>
                   
                </div>
                
                <button type="submit" class="btn btn-primary px-4 float-right">Incribir</button>
            </form>
        </div>
    </div>
</section>
</div>