<div id="nickWrap" class="card col-md-4 mx-auto mt-5">
      <div class="card-header">
        <h3>Ingrese su Nickname</h3>
      </div>
      <p id="nickError"></p>
      <div class="card-body">
        <form id="FormUser"action="/users/salachat" method="get">
          <input id="nickname" name = "nickname" type="text" value = "{{ user.nombre }}"class="form-control" readonly="readonly">
          <input type="submit" class="btn btn-secondary btn-block mt-2"/>
        </form>
      </div>
    </div>

