
<div class="container" id="Wrap">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4> Chat</h4>
                </div>
                <input name="usuarioActual" id="usuarioActual" value="{{ user.nombre }}" type="hidden">
                <input name="hacia" id="hacia" value="{{ nick }}" type="hidden">
                <div id="chatprivado" class="card-body"></div>
                <form id="formulario_privado" class="card-footer">

                    <div class="input-group">

                        <input type="hidden" id="nick" value="{{  user.nombre }} ">
                        <input type="text" id="texto" class="form-control" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary">
                                <i class="fas fa-location-arrow"></i> Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
